<!-- your html code here -->
<div class= "container pb-5 col-12">
 <div>
    <h1>Contact</h1>
    <p>Para más información contacte con nosotros a través del formulario y poder así atender sus sugerencias lo antes posible, quedamos a la espera de su mensaje!!</p>
    <form action="#" class="col-md-8 offset-md-2 bg-body-secondary p-3 rounded">
        <div class="row mb-3">
          <label for="yourEmail" class="fw-bolder col-sm-2 col-form-label">Your E-mail</label>
          <div class="col-sm-10">
          <input type="text" placeholder="Your email" class="form-control" id="yourEmail">
          </div>
        </div>
        <div class="row mb-3">
            <label for="message" class="fw-bolder col-sm-2 col-form-label">Your message</label>
            <div class="col-10">
            <textarea type="text" placeholder="Please put your message here..." class="form-control" id="message" style="height: 100px"></textarea>
            </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>       
    </form>
  </div>
</div> 