<!-- your html code here -->
<div class="container-fluid justify-content-center  border border-black border-end-0 border-start-0 w-75 pb-5">
    <div class="row  justify-content-center">
            <div class="col-12 col-lg-6  my-5">
                <h1 class="text-info-emphasis">Koala</h1>
                <p class="fs-4">
                    Es el único representante existente de la familia Phascolarctidae y sus parientes vivos más cercanos son los wombats. Vive en las zonas costeras de las regiones este y sur australianas, en los estados de Queensland, Nueva Gales del Sur, Victoria y Australia Meridional. Es fácilmente reconocible por su cuerpo robusto sin cola, cabeza grande con orejas redondas y peludas y nariz grande en forma de cuchara. Mide entre 60 y 85 cm y pesan de 4 a 15 kg.
                </p>
            </div>
            <div class="d-flex  col-12 col-lg-6 my-5" style= "width:350px ; height:350px;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Koala_climbing_tree.jpg"
              alt="Koala" class="rounded-circle me-3 p-2" style= "width:350px ; height:350px;">
               </div>
    </div>
</div>

