<!-- your html code here -->
<div class="container-fluid bg-white w-75 h-100 border  border-start-0 border-end-0 border-black ">
    <div class="row d-flex justify-content-center my-2 ">
      
      <div class=" col-12 col-lg-6 my-2">
        <h1> Chainsaw Man</h1>
        <p>
          Los demonios nacen en el infierno y poseen la capacidad de adoptar la forma y las características de los peores temores humanos. Diablos de pistola, diablos de serpiente, diablos de zorro: las posibilidades son realmente infinitas. Pero cuanto más común o extendido es el miedo, más fuerte es el demonio que lo personifica, y viceversa.
        </p>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-center">
        <img class=" rounded-circle w-50 border border-black   " style="height:auto;"
        src="https://dthezntil550i.cloudfront.net/fy/latest/fy2107222350314790016448237/1280_960/1cbc2398-f71b-475b-8775-57a216a1b32d.png"
        alt="Card image cap">
      </div>
      
    </div>
  </div>
