
<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid bg-secondary">
      
      <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-transparent  " id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-body-tertiary "  href="#">Start bootstrap</a>
          <a class="nav-link text-body-tertiary" href="#">About</a>
          <a class="nav-link text-body-tertiary" href="#">Services</a>
          <a class="nav-link text-body-tertiary" href="#">Portfolio</a>
          <a class="nav-link text-body-tertiary" href="#">Contact</a>
        </div>
      </div>
    </div>
  </nav>
