<div class=" container border bg-white border-primary " >
    <div class="container ">
        <h3>Portfolio</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="d-flex row justify-content-center ">
        
        <div class="card border-light" style="width: 18rem;">
          <div class="img-container">
            <img  class="w-100  img-fluid object-fit-contain" src="https://imgs.search.brave.com/xcd5Lm7eqPh4W1cLO58_VwLgfh5r48zAP8H3ZORUqqs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/bGF2YW5ndWFyZGlh/LmNvbS9wZWxpY3Vs/YXMtc2VyaWVzL2lt/YWdlcy9hbGwvc2Vy/aWUvYmFja2Ryb3Bz/LzIwMDcvNy9zZXJp/ZS0zNDE0NC93MTI4/MC9vRXdwMFhQR3Qw/MExMTnVsMm50b1FW/Y3FEdzkuanBn"  >
          </div>
            <div class="card-body "><br><br><br><br>
                <h6 class="text-primary fs-3"> Shigurui</h6>
              <p class="card-text">Una recreación de como era la vida en un Dojo en Edo.</p>
            </div>
        </div>
        
        <div class="card border-light" style="width: 18rem;">
          <div class="img-container" style="width:300px; height:200px;" >
            <img class="w-100 h-100 img-fluid object-fit-contain "  src="https://imgs.search.brave.com/Liv_Il1Z9ncjieFBwEl29PfAlE_H_7NUBQt6_sJP0w8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYWtp/cmEtc2hvdGFyby1r/YW5lZGEtaW4tdGhl/LWNpdHktNmszcGli/c2NheDd0b2VoOC5q/cGc"  >
          </div>
            <div class="card-body">
                <h6 class="text-primary fs-3"> Akira</h6>
              <p class="card-text">En un universo post-apocalíptico, hay peleas de bandas en Neo-Tokyo</p>
            </div>
        </div>
        
        <div class="card border-light" style="width: 18rem;">
          <div class="img-container" style="width:300px; height:200px;" >
            <img class="w-100 object-fit-contain img-fluid" src="https://imgs.search.brave.com/vObDdQxWiftyZSiorZu5AiZrlKDoqDed2R_MKsaloWk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/bGFjYXNhZW5jZW5k/aWRhLmVzL3N0b3Jh/Z2UvMjYyMjYvY29u/dmVyc2lvbnMvbWkt/dmVjaW5vLXRvdG9y/by1kZS1oYXlhby1t/aXlhemFraS1kZXRh/aWwuanBn"   >
          </div>
            <div class="card-body">
                <h6 class="text-primary fs-3">Mi amigo Totoro</h6>
              <p class="card-text">Los espíritus del bosque solo pueden ser vistos por personas de corazon puro.</p>
            </div>
          </div>
    </div>
    </div>
    