<!-- your html code here -->
  <div class="container-fluid justify-content-center  border border-black border-end-0 border-start-0 w-75 pb-5">
    <div class="row  justify-content-center">
        <div class="d-flex  col-12 col-lg-6 my-5" style= "width:350px ; height:350px;">
        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiiOqIa5GwVLPRw9qnfuMHHakZ2e3EQez0GA&s" 
            alt="Ataque a los titanes" class="rounded-circle me-3 p-2" style= "width:350px ; height:350px;">
             </div>
            <div class="col-12 col-lg-6  my-5">
                <h1 class="text-danger">Ataque a los titanes</h1>
                <p class="fs-4">
                    La historia gira en torno a Eren Jaeger, quien vive en un mundo ficticio donde la humanidad está al borde de la extinción a causa de unas criaturas humanoides llamadas «titanes», lo que obliga a los supervivientes a refugiarse en tres enormes murallas para protegerse.
                </p>
            </div>
        
    </div>  
</div>




