<!-- your html code here -->
  <div class="container  border  border-black border-start-0 border-end-0 mt-5">
    <div class="d-flex align-items-center my-2">
    
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiiOqIa5GwVLPRw9qnfuMHHakZ2e3EQez0GA&s" 
        alt="Ataque a los titanes" class="rounded-circle me-3" style= "width:300px ; height:300px;">

        <div>
            <h1 class="text-danger">Ataque a los titanes</h1>
            <p>
                La historia gira en torno a Eren Jaeger, quien vive en un mundo ficticio donde la humanidad está al borde de la extinción a causa de unas criaturas humanoides llamadas «titanes», lo que obliga a los supervivientes a refugiarse en tres enormes murallas para protegerse.
            </p>
        </div>
    </div>
</div>




