<!-- your html code here -->
<div class=" content-fluid py-5 w-100"
    style=" height:400px ; background-image: url(https://static.wikia.nocookie.net/shadow-of-mordor/images/5/50/Yre1o.jpg/revision/latest?cb=20141222202027&path-prefix=es);">


    <div class="pt-5  mx-2">
        <h1 class="display-2 fw-bold text-center bg-light">Un anillo para gobernarlos a todos</h1>
    </div>
    <div class="pt-5 mx-2">
        <h2 class="display-5 fw-bold text-center bg-light">Un anillo para gobernar la tierra </h2>
    </div>


</div>