<!-- your html code here -->
<div class="p-5 mb-4 "
    style=" height:600px ; background-image: url(https://cdn.wallpapersafari.com/10/12/YmF65B.jpg);
     overflow:hidden; background-size: cover;  background-position: center;">
    <div class="container-fluid py-5">

        <div class="p-1 mx-2">
            <h1 class="display-1 fw-bold text-center rounded ro bg-light">Un anillo para gobernarlos a todos</h1>
        </div>
        <div class="pt-5 mx-2">
            <h2 class="display-5 fw-bold text-center rounded  bg-light">Un anillo para gobernar la tierra </h2>
        </div>


    </div>
</div>
